*{
    padding: 0px;
    margin: 0px;
}
.teks{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
body{
    background-image: url('back.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.gambar1{
    padding: 50px 10px;
    position: fixed;
    margin-left: 500px;
    top: 300px;
}
.gambar2{
    padding: 50px 10px;
    position: fixed;
    margin-left: 650px;
    top: 300px;
}
.gambar3{
    padding: 50px 10px;
    position: fixed;
    margin-left: 800px;
    top: 300px;
}
